Makefile
Makefile.in
aclocal.m4
config.cache
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
compile
depcomp
intl
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
install-sh
stamp-h
stamp-h1
stamp-h.in
version.h
intl
macros
ABOUT-NLS
INSTALL
ChangeLog
*.tar.gz
*.tar.bz2
xml-i18n-extract.in
xml-i18n-extract
xml-i18n-merge.in
xml-i18n-merge
xml-i18n-update.in
xml-i18n-update
xmldocs.make
omf.make
gtk-doc.make
*~
po/Makevars.template
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/POTFILES
po/Rules-quot
m4/*
autotools/*
cov-int/*
data/consolekit.logrotate
data/90-consolekit
src/ck-manager-generated.c
src/ck-manager-generated.h
src/ck-seat-generated.c
src/ck-seat-generated.h
src/ck-session-generated.c
src/ck-session-generated.h
src/test-session
tools/pam-foreground-compat.ck
tools/70-udev-acl.rules
